{% extends 'base.html.twig' %}

{% block title %}Detalles sobre un juego | Tienda de Videojuegos
{% endblock %}

{% block body %}

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div id="product-main-img">
						<img src="./img/elden.jpg" alt="">
					</div>
				</div>


				<div class="col-md-6">
					<div class="product-details">
						<h2 class="product-name">Eldenring</h2>
						<div>
							
							<a class="review-link" href="#">Publicado por <span class="badge">Pepe</span></a>
						</div>
						<div>
							<h3 class="product-price">€40.00</h3>
						</div>

						<ul class="product-links">
							<li>Generos:</li>
							<li>
								<a href="#">Combate</a>
							</li>
							<li>
								<a href="#">Aventura</a>
							</li>
						</ul>
						<ul class="product-links">
							<li>Fecha:</li>
							<li>
								<a href="#">14/01/2026</a>
							</li>
						</ul>

						<p style="margin-top: 10px; margin-bottom: 10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


						<div class="add-to-cart">
							<button class="add-to-cart-btn">
								<i class="fa fa-shopping-cart"></i>
								comprar juego</button>
						</div>

						

					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
