{% extends 'base.html.twig' %}

{% block title %}Mi perfil | Tienda de Videojuegos{% endblock %}

{% block body %}
<div class="section">
    <div class="container">

        <div class="section-title mb-4">
            <h3 class="title">Mi perfil</h3>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#datos" data-toggle="tab">Datos del usuario</a>
                            </li>
                            <li>
                                <a href="#password" data-toggle="tab">Cambiar contraseña</a>
                            </li>
                            <li>
                                <a href="#avatar" data-toggle="tab">Imagen de perfil</a>
                            </li>
                        </ul>

                        <div class="tab-content" style="margin-top:20px">

                            <div class="tab-pane fade in active" id="datos">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <img src="/img/default.jpg"
                                             class="img-circle"
                                             style="max-width:160px;margin-bottom:15px;"
                                             alt="Foto de perfil">
                                    </div>
                                    <div class="col-md-8">
                                        <p><strong>Nombre:</strong> Juan Pérez</p>
                                        <p><strong>Email:</strong> juan@email.com</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="password">
                                <form>
                                    <div class="form-group">
                                        <label>Contraseña actual</label>
                                        <input type="password" class="input form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Nueva contraseña</label>
                                        <input type="password" class="input form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Repetir nueva contraseña</label>
                                        <input type="password" class="input form-control" required>
                                    </div>

                                    <button class="btn btn-danger">
                                        <i class="fa fa-lock"></i>
                                        Cambiar contraseña
                                    </button>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="avatar">
                                <form enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>Seleccionar nueva imagen</label>
                                        <input type="file" class="form-control">
                                    </div>

                                    <button class="btn btn-danger">
                                        <i class="fa fa-upload"></i>
                                        Subir imagen
                                    </button>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}
